<span class="fa fa-spinner spinner"
      *ngIf="loading"></span>

<!-- Main part of the menu-->
<div class="flex">
<nav class="flex_left">
  <a >{{pageTitle}}</a>
  <ul >
    <li >
      <a
         [routerLink]="['/welcome']"
         routerLinkActive="active">Home</a>
    </li>
    <li >
      <a
         [routerLink]="['/products']"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact : true}">Product List</a>
    </li>
    <li >
      <a
         [routerLink]="['/products', 0, 'edit']"
         routerLinkActive="active">Add Product</a>
    </li>
  </ul>

  <!-- Left justified part of the menu -->
  <ul >
    <li
        *ngIf="isLoggedIn">
      <a
         [routerLink]="['/login']">Welcome {{ userName }}</a>
    </li>
    <li
        *ngIf="!isMessageDisplayed">
      <a
         (click)="displayMessages()">Show Messages</a>
    </li>
    <li
        *ngIf="isMessageDisplayed">
      <a
         (click)="hideMessages()">Hide Messages</a>
    </li>
    <li
        *ngIf="!isLoggedIn">
      <a
         [routerLink]="['/login']">Log In</a>
    </li>
    <li
        *ngIf="isLoggedIn">
      <a
         (click)="logOut()">Log Out</a>
    </li>
  </ul>
</nav>

<div class="container flex_right">
  <div class="row">
    <div class="col-md-10"
         [@slideInAnimation]="o.isActivated ? o.activatedRoute : ''">
      <router-outlet #o="outlet"></router-outlet>
    </div>
    <div class="col-md-2">
      <router-outlet name="popup"></router-outlet>
    </div>
  </div>
</div>

</div>
